<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">
<body>

<form method="post">
    <div id="container">

        <input
-               type="text"
                minlength="2"
                maxlength="30"
                placeholder="제목을 입력하세요."
                name="title"
        />
        <textarea
                minlength="2"
                maxlength="100"
                placeholder="본문을 입력하세요."
                style="resize: none"
                name="MainText"
        ></textarea>
        <input id="submit-btn" type="submit" value="등록하기" />
    </div>
</form>
</body>


</html>