<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
  <h1>상품 등록</h1>
  <form method="post" >
      <div>
          <label for="itemName">상품명</label>
          <input type="text" id="itemName" name="itemName" placeholder="상품명을 입력하시오">
      </div>

      <div>
          <label for="price">가격</label>
          <input type="text" id="price" name="price" placeholder="가격을 입력하시오" >
      </div>
      <div>
          <label for="quantity">수량</label>
          <input type="text" id="quantity" name="quantity" placeholder="수량을 입력하시오" >
      </div>
      <button type="submit" >상품 등록</button>
      <button onclick="location.href='/items.html'" th:onclick="|location.href='@{/items}'|" type="button">취소</button>
  </form>
</body>
</html>