<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>음악 검색하기</title>
</head>
<body>
<h2>강의목록</h2>
<div th:each="music : ${musics}">
    <strong th:text="${music.title}">제목</strong>
    <strong th:text="${music.singer}">교수명</strong>
    <button onclick="location.href='search.html'"
            th:onclick="|location.href='@{/search/delete/{title}(title=${music.title})}'|" type="button">삭제</button>
</div>
<a href="/">홈</a>
</body>
<!--</form>>-->
</html>